<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Manpower</title>

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>
<style type="text/css">
    .step {
        display: none;
    }

    .step.active {
        display: block;
    }

    .form-group {
        width: 100%;
        margin-top: 20px;
    }

    .form-group input {
        width: 100%;
        border: 1.5px solid rgba(128, 128, 128, 0.418);
        padding: 5px;
        font-size: 18px;
        margin-top: 5px;
        border-radius: 4px;
    }

    button.next-btn,
    button.previous-btn,
    button.submit-btn {
        float: right;
        margin-top: 20px;
        padding: 10px 30px;
        border: none;
        outline: none;
        background-color: rgb(180, 220, 255);
        font-family: "Montserrat";
        font-size: 18px;
        cursor: pointer;
        /* text-align: right; */
    }

    button.previous-btn {
        float: right;
    }

    button.submit-btn {
        background-color: aquamarine;
    }
</style>
<script>
    async function Updatedata(id) {
        const perfixTHval = document.querySelector('input[name="perfixTH"]:checked').value;
        console.log(perfixTHval)

        const firstNameTHval = document.getElementById("firstNameTH").value;
        console.log(firstNameTHval)

        const middleNameTHval = document.getElementById("middleNameTH").value;
        console.log(middleNameTHval)

        const lastNameTHval = document.getElementById("lastNameTH").value;
        console.log(lastNameTHval)

        const perfixENval = document.querySelector('input[name="perfixEN"]:checked').value;
        console.log(perfixENval)

        const firstNameENval = document.getElementById("firstNameEN").value;
        console.log(firstNameENval)

        const middleNameENval = document.getElementById("middleNameEN").value;
        console.log(middleNameENval)

        const lastNameENval = document.getElementById("lastNameEN").value;
        console.log(lastNameENval)

        const ageval = document.getElementById("age").value;
        console.log(ageval)

        const maritalStatusval = document.getElementById("maritalStatus").value;
        console.log(maritalStatusval)

        const sexval = document.querySelector('input[name="sex"]:checked').value;
        console.log(sexval)

        const heightval = document.getElementById("height").value;
        console.log(heightval)

        const weightval = document.getElementById("weight").value;
        console.log(weightval)

        const nationalityval = document.getElementById("nationality").value;
        console.log(nationalityval)

        const idCardNoval = document.getElementById("idCardNo").value;
        console.log(idCardNoval)

        const militaryServiceval = document.querySelector('input[name="militaryService"]:checked').value;
        console.log(militaryServiceval)

        const militaryDataval = document.getElementById("militaryData").value;
        console.log(militaryDataval)

        const crimeStatusval = document.querySelector('input[name="crimeStatus"]:checked').value;
        console.log(crimeStatusval)

        const crimeDataval = document.getElementById("crimeData").value;
        console.log(crimeDataval)

        const diseaseval = document.querySelector('input[name="disease"]:checked').value;
        console.log(diseaseval)

        const diseaseDataval = document.getElementById("diseaseData").value;
        console.log(diseaseDataval)
        console.log(id)
        let response = await fetch(`http://localhost:8080/api/general/${id}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "perfixTH": perfixTHval,
                "firstNameTH": firstNameTHval,
                "middleNameTH": middleNameTHval,
                "lastNameTH": lastNameTHval,
                "perfixEN": perfixENval,
                "firstNameEN": firstNameENval,
                "middleNameEN": middleNameENval,
                "lastNameEN": lastNameENval,
                "age": parseInt(ageval),
                "maritalStatus": maritalStatusval,
                "sex": sexval,
                "height": heightval,
                "weight": weightval,
                "nationality": nationalityval,
                "idCardNo": idCardNoval,
                "militaryService": militaryServiceval,
                "militaryData": militaryDataval,
                "crimeStatus": crimeStatusval,
                "crimeData": crimeDataval,
                "disease": diseaseval,
                "diseaseData": diseaseDataval,
            })
        })
        .then(async response =>  {
           let data1 =  await response.json()
           test.innerHTML = data1.result.generalID
        })
            .catch(err => console.log(err))

        Swal.fire({
            icon: 'success',
            title: 'Good job!',
            text: 'Add Data Complete',
        })
    }

    async function Updatedata2(id) {
        let generalID = document.getElementById("generalID").innerHTML
    
        const position1val = document.querySelector('input[name="position1"]:checked').value;
        console.log(position1val)

        const position2val = document.querySelector('input[name="position2"]:checked').value;
        console.log(position2val)

        const expectedSalaryval = document.getElementById("expectedSalary").value;
        console.log(expectedSalaryval)

        // const availableDateval = document.getElementById("availableDate").value;
        // console.log(availableDateval)

        const statusval = document.querySelector('input[name="status"]:checked').value;
        console.log(statusval)


        let response2 = await fetch(`http://localhost:8080/api/application/${id}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "generalID": generalID ,
                "position1": position1val,
                "position2": position2val,
                "expectedSalary": expectedSalaryval,
                // "availableDate": availableDateval,
                "status": statusval,
            })
        })
        .then(async response2 =>  {
           let data1 =  await response2.json()
           test.innerHTML = data1.result.generalID
        })
            .catch(err => console.log(err))



        Swal.fire({
            icon: 'success',
            title: 'Good job!',
            text: 'Add Data Complete'
        })
    }
    async function createData3(id) {
        let generalID = document.getElementById("generalID").innerHTML

        const detailTHval = document.getElementById("detailTH").value;
        console.log(detailTHval)

        const subAreaTHval = document.getElementById("subAreaTH").value;
        console.log(subAreaTHval)

        const areaTHval = document.getElementById("areaTH").value;
        console.log(areaTHval)

        const provinceTHval = document.getElementById("provinceTH").value;
        console.log(provinceTHval)

        const postalCodeTHval = document.getElementById("postalCodeTH").value;
        console.log(postalCodeTHval)

        const detailENval = document.getElementById("detailEN").value;
        console.log(detailENval)

        const subAreaENval = document.getElementById("subAreaEN").value;
        console.log(subAreaENval)

        const areaENval = document.getElementById("areaEN").value;
        console.log(areaENval)

        const provinceENval = document.getElementById("provinceEN").value;
        console.log(provinceENval)

        const postalCodeENval = document.getElementById("postalCodeEN").value;
        console.log(postalCodeENval)

        const presentAddressval = document.getElementById("presentAddress").value;
        console.log(presentAddressval)

        const presentAddressSubAreaval = document.getElementById("presentAddressSubArea").value;
        console.log(presentAddressSubAreaval)

        const presentAddressAreaval = document.getElementById("presentAddressArea").value;
        console.log(presentAddressAreaval)

        const presentAddressProvinceval = document.getElementById("presentAddressProvince").value;
        console.log(presentAddressProvinceval)

        const presentAddressPostalCodeval = document.getElementById("presentAddressPostalCode").value;
        console.log(presentAddressPostalCode)
        
        const contactEmailval = document.getElementById("contactEmail").value;
        console.log(contactEmailval)

        const contactPhoneval = document.getElementById("contactPhone").value;
        console.log(contactPhoneval)

        let response3 = await fetch(`http://localhost:8080/api/contractaddress/${id}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "generalID": generalID ,
                "detailTH": detailTHval,
                "subAreaTH": subAreaTHval,
                "areaTH": areaTHval,
                "provinceTH": provinceTHval,
                "postalCodeTH": postalCodeTHval,
                "detailEN": detailENval,
                "subAreaEN": subAreaENval,
                "areaEN": areaENval,
                "provinceEN":provinceENval,
                "postalCodeEN": postalCodeENval,
                "presentAddress": presentAddressval,
                "presentAddressSubArea": presentAddressSubAreaval,
                "presentAddressArea": presentAddressAreaval,
                "presentAddressProvince": presentAddressProvinceval,
                "presentAddressPostalCode" :presentAddressPostalCodeval,
                "contactEmail": contactEmailval,
                "contactPhone": contactPhoneval,
                

            })
        })
        .then(response3 => console.log(response3.json()))
            .catch(err => console.log(err))

    }

    async function createData4() {
        const drivingLicenseTypeval = document.querySelector('input[name="drivingLicenseType"]:checked').value;
        console.log(drivingLicenseTypeval)
      
        const drivingTypeval = document.getElementById("drivingType").value;
        console.log(drivingTypeval)

        const drivingLicenseNoval = document.getElementById("drivingLicenseNo").value;
        console.log(drivingLicenseNoval)

       
        let response3 = await fetch('http://localhost:8080/api/driving/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "generalID": "55ac7ad0-5eab-4e70-af50-aecc1fd04c88" ,
                "drivingLicenseType": drivingLicenseTypeval,
                "drivingType": drivingTypeval,
                "drivingLicenseNo": drivingLicenseNoval,

            })
        })
        .then(response3 => console.log(response3.json()))
            .catch(err => console.log(err))

    }

    async function createData5() {
        const companyNameHistoryList = []
        companyNameHistoryList.push(document.getElementById("companyNameHistory").value);
      
        const positionHistoryList = []
        positionHistoryList.push(document.getElementById("positionHistory").value);

        const salaryHistoryList = []
        salaryHistoryList.push(document.getElementById("salaryHistory").value);
       
        let response5 = await fetch('http://localhost:8080/api/history/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "generalID": "55ac7ad0-5eab-4e70-af50-aecc1fd04c88" ,
                "companyNameHistory": companyNameHistoryList,
                "positionHistory": positionHistoryList,
                "salaryHistory": salaryHistoryList,

            })
        })
        .then(response5 => console.log(response5.json()))
            .catch(err => console.log(err))

    }
    async function createData6() {

        const educationLevelval = document.querySelector('input[name="educationLevel"]:checked').value;
        console.log(educationLevelval)
      
        const nameval = document.getElementById("name").value;
        console.log(nameval)

        const majorval = document.getElementById("major").value;
        console.log(majorval)

       
        let response6 = await fetch('http://localhost:8080/api/education/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "generalID": "55ac7ad0-5eab-4e70-af50-aecc1fd04c88" ,
                "educationLevel": educationLevelval,
                "name": nameval,
                "major": majorval,

            })
        })
        .then(response6 => console.log(response6.json()))
            .catch(err => console.log(err))

    }
    async function createData7() {

        const typeOfSkillval = document.querySelector('input[name="typeOfSkill"]:checked').value;
        console.log(typeOfSkillval)

        const levelval= document.querySelector('input[name="level"]:checked').value;
        console.log(levelval)




        let response6 = await fetch('http://localhost:8080/api/skill/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "generalID": "55ac7ad0-5eab-4e70-af50-aecc1fd04c88" ,
                "typeOfSkill": typeOfSkillval,
                "level": levelval,
            })
        })
        .then(response6 => console.log(response6.json()))
            .catch(err => console.log(err))

        }

      
</script>


<body>
    <div>
        <%- include ("../layouts/navbar.ejs") -%>
    </div>


    <h1>Edit data</h1></br>

    <form>
        <div class="step step-1 active">
            <h4>General Data</h4>
            <div class="field">
                <label id="perfixTH" for="perfixTH"><b> คำนำหน้า (ไทย):</b></label><br>
                <input type="radio" name="perfixTH" value="นาย" <% if (data.perfixTH === "นาย"){%> checked <% } %>> นาย<br>
                <input type="radio" name="perfixTH" value="นาง" <% if (data.perfixTH === "นาง"){%> checked <% } %>> นาง<br>
                <input type="radio" name="perfixTH" value="นางสาว" <% if (data.perfixTH === "นางสาว"){%> checked <% } %>> นางสาว<br>
            </div>

            <div class="field">
                <label for="firstNameTH"><b> ชื่อ:</b></label><br>
                <input type="text" id="firstNameTH" name="firstNameTH" value="<%= data.firstNameTH %>"><br>
            </div>
            <div class="field">
                <label for="middleNameTH"><b> ชื่อกลาง (ถ้ามี):</b></label><br>
                <input type="text" id="middleNameTH" name="middleNameTH" value="<%= data.middleNameTH %>"><br>
            </div>
            <div class="field">
                <label for="lastNameTH"><b> นามสกุล:</b></label><br>
                <input type="text" id="lastNameTH" name="lastNameTH" value="<%= data.lastNameTH %>"><br>
            </div>
            <div class="field">
                <label id="perfixEN" for="perfixEN"><b> คำนำหน้า (อังกฤษ):</b></label><br>
                <input type="radio" name="perfixEN" value="Mr." <% if (data.perfixEN === "Mr."){%> checked <% } %>> Mr. <br>
                <input type="radio" name="perfixEN" value="Ms."  <% if (data.perfixEN === "Ms."){%> checked <% } %>> Ms.<br>
            </div>
            <div class="field">
                <label for="firstNameEN"><b> ชื่อ (ภาษาอังกฤษ): </b></label><br>
                <input type="text" id="firstNameEN" name="firstNameEN" value="<%= data.firstNameEN %>"><br>
            </div>
            <div class="field">
                <label for="middleNameEN"><b> ชื่อกลาง (ภาษาอังกฤษ): </b></label><br>
                <input type="text" id="middleNameEN" name="middleNameEN" value="<%= data.middleNameEN %>"><br>
            </div>
            <div class="field">
                <label for="lastNameEN"><b> นามสกุล (ภาษาอังกฤษ): </b></label><br>
                <input type="text" id="lastNameEN" name="lastNameEN" value="<%= data.lastNameEN %>"><br>
            </div>
            <div class="field">
                <label for="age"><b>อายุ:</b></label><br>
                <input type="text" id="age" name="age" value="<%= data.age %>"><br>
            </div>
            <div class="field">
                <label for="maritalStatus"><b>ทักษะความรู้:</b></label><br>
                <input type="text" id="maritalStatus" name="maritalStatus" value="<%= data.maritalStatus %>"><br>
            </div>
            <div class="field">
                <label id="sex" for="sex"><b> เพศ :</b></label><br>
                <input type="radio" name="sex" value="Male" <% if (data.sex === "Male"){%> checked <% } %>> Male <br>
                <input type="radio" name="sex" value="Female" <% if (data.sex === "Female"){%> checked <% } %>> Female<br>
            </div>
            <div class="field">
                <label for="height"><b> ส่วนสูง:</b></label><br>
                <input type="text" id="height" name="height" value="<%= data.height %>"><br>
            </div>
            <div class="field">
                <label for="weight"><b> น้ำหนัก:</b></label><br>
                <input type="text" id="weight" name="weight" value="<%= data.weight %>"><br>
            </div>
            <div class="field">
                <label for="nationality"><b> สัญชาติ: </b></label><br>
                <input type="text" id="nationality" name="nationality" value="<%= data.nationality %>"><br>
            </div>
            <div class="field">
                <label for="idCardNo"><b>เลขประจำตัวประชาชน:</b></label><br>
                <input type="text" id="idCardNo" name="idCardNo" value="<%= data.idCardNo %>"><br>
            </div>
            <div class="field">
                <label id="militaryService" for="militaryService"><b> เคยผ่านเกณฑ์ทหารหรือไม่:</b></label><br>
                <input type="radio" name="militaryService" value="เคยเกณฑ์ทหาร" <% if (data.militaryService === "เคยเกณฑ์ทหาร"){%> checked <% } %>> Yes<br>
                <input type="radio" name="militaryService" value="ไม่เคยเกณฑ์ทหาร" <% if (data.militaryService === "ไม่เคยเกณฑ์ทหาร"){%> checked <% } %>> No<br>
            </div>
            <div class="field">
                <label for="militaryData"><b>ข้อมูลเพิ่มเติมทางการทหาร:</b></label><br>
                <input type="text" id="militaryData" name="militaryData" value="<%= data.militaryData %>"><br>
            </div>
            <div class="field">
                <label for="crimeStatus"><b>ท่านเคยต้องโทษคดีอาญาหรือไม่:</b></label><br>
                <input type="radio" name="crimeStatus" value="เคยมีคดี" <% if (data.crimeStatus === "เคยมีคดี"){%> checked <% } %>> Yes <br>
                <input type="radio" name="crimeStatus" value="ไม่เคยมีคดี" <% if (data.crimeStatus === "ไม่เคยมีคดี"){%> checked <% } %>> No<br>
            </div>
            <div class="field">
                <label for="crimeData"><b>ข้อมูลเพิ่มเติมทางคดี:</b></label><br>
                <input type="text" id="crimeData" name="crimeData" value="<%= data.crimeData %>"><br>
            </div>
            <div class="field">
                <label for="disease"><b>ท่านป่วยเป็นโรคติดต่อหรือไม่:</b></label><br>
                <input type="radio" name="disease" value="มีโรค" <% if (data.disease === "มีโรค"){%> checked <% } %>> Yes <br>
                <input type="radio" name="disease" value="ไม่มีโรค" <% if (data.disease === "ไม่มีโรค"){%> checked <% } %>> No<br>

                <label for="diseaseData"><b>ข้อมูลโรคติดต่อเพิ่มเติม:</b></label><br>
                <input type="text" id="diseaseData" name="diseaseData" value="<%= data.diseaseData %>"><br>
                <br>
                <button type="button" class="next-btn" onclick="Updatedata('<%= data.generalID %>')">Next</button>
            </div>

        </div>
        <div class="step step-2 ">
            <h4>Application Data</h4>

            <label id="position1" for="position1"><b> ตำแหน่งที่ 1:</b></label><br>
            <input type="radio" name="position1" value="positionA" <% if (dataapplication.position1 === "positionA"){%> checked <% } %>> positionA <br>
            <input type="radio" name="position1" value="positionB" <% if (dataapplication.position1 === "positionB"){%> checked <% } %>> positionB<br>
            <input type="radio" name="position1" value="positionC" <% if (dataapplication.position1 === "positionC"){%> checked <% } %>> positionC<br>

            <label id="position2" for="position2"><b> ตำแหน่งที่ 2:</b></label><br>
            <input type="radio" name="position2" value="positionA" <% if (dataapplication.position2 === "positionA"){%> checked <% } %>> positionA <br>
            <input type="radio" name="position2" value="positionB" <% if (dataapplication.position2 === "positionB"){%> checked <% } %>> positionB<br>
            <input type="radio" name="position2" value="positionC" <% if (dataapplication.position2 === "positionC"){%> checked <% } %>> positionC<br>

            <label for="expectedSalary"><b> เงินเดือนที่ต้องการ:</b></label><br>
            <input type="text" id="expectedSalary" name="expectedSalary" value="<%= dataapplication.expectedSalary %>"><br>

            <!-- <label for="availableDate"><b> วันที่พร้อมเริ่มงาน:</b></label><br>
            <input type="date" id="availableDate" name="availableDate" value=""><br>
            <br> -->

            <label id="status" for="status"><b> สถานะ :</b></label><br>
            <input type="radio" name="status" value="statusA" <% if (dataapplication.status === "statusA"){%> checked <% } %>> statusA <br>
            <input type="radio" name="status" value="statusB" <% if (dataapplication.status === "statusB"){%> checked <% } %>> statusB<br>
            <input type="radio" name="status" value="statusC" <% if (dataapplication.status === "statusC"){%> checked <% } %>> statusC<br>

            <br>
            <br>
            <button type="button" class="next-btn" onclick="Updatedata2('<%= dataapplication.applicationID %>')">Next</button>
            <button type="button" class="previous-btn">Prev</button>
            <div id="generalID" hidden></div>

        </div>
        <div class="step step-3">
            <h4>Contact-Address Data</h4>
            <label for="detailTH"><b>ที่อยู่ (ไทย):</b></label><br>
            <input type="text" id="detailTH" name="detailTH" value=""><br>

            <label for="subAreaTH"><b>ตำบล (ไทย):</b></label><br>
            <input type="text" id="subAreaTH" name="subAreaTH" value=""><br>

            <label for="areaTH"><b>อำเภอ (ไทย):</b></label><br>
            <input type="text" id="areaTH" name="areaTH" value=""><br>

            <label for="provinceTH"><b>จังหวัด (ไทย):</b></label><br>
            <input type="text" id="provinceTH" name="provinceTH" value=""><br>

            <label for="postalCodeTH"><b>รหัสไปรษณีย์ (ไทย):</b></label><br>
            <input type="text" id="postalCodeTH" name="postalCodeTH" value=""><br>

            <label for="detailEN"><b>ที่อยู่ (อังกฤษ):</b></label><br>
            <input type="text" id="detailEN" name="detailEN" value=""><br>

            <label for="subAreaEN"><b>ตำบล (อังกฤษ):</b></label><br>
            <input type="text" id="subAreaEN" name="subAreaEN" value=""><br>

            <label for="areaEN"><b>อำเภอ (อังกฤษ):</b></label><br>
            <input type="text" id="areaEN" name="areaEN" value=""><br>

            <label for="provinceEN"><b>จังหวัด (อังกฤษ):</b></label><br>
            <input type="text" id="provinceEN" name="provinceEN" value=""><br>

            <label for="postalCodeEN"><b>รหัสไปรษณีย์ (อังกฤษ):</b></label><br>
            <input type="text" id="postalCodeEN" name="postalCodeEN" value=""><br>

            <label for="presentAddress"><b>ที่อยู่ปัจจุบัน:</b></label><br>
            <input type="text" id="presentAddress" name="presentAddress" value=""><br>

            <label for="presentAddressSubArea"><b>ตำบลปัจจุบัน:</b></label><br>
            <input type="text" id="presentAddressSubArea" name="presentAddressSubArea" value=""><br>

            <label for="presentAddressArea"><b>อำเภอปัจจุบัน:</b></label><br>
            <input type="text" id="presentAddressArea" name="presentAddressArea" value=""><br>

            <label for="presentAddressProvince"><b>จังหวัดปัจจุบัน:</b></label><br>
            <input type="text" id="presentAddressProvince" name="presentAddressProvince" value=""><br>

            <label for="presentAddressPostalCode"><b>รหัสไปรษณีย์ :</b></label><br>
            <input type="text" id="presentAddressPostalCode" name="presentAddressPostalCode" value=""><br>

            <label for="contactPhone"><b>เบอร์โทรติดต่อ:</b></label><br>
            <input type="text" id="contactPhone" name="contactPhone" value=""><br>

            <label for="contactEmail"><b>E-mail:</b></label><br>
            <input type="email" id="contactEmail" name="contactEmail" value=""><br>
            <br>
            <button type="button" class="next-btn" onclick="createData3(id)">Next</button>
            <button type="button" class="previous-btn">Prev</button>

        </div>
        <div class="step step-4 ">
            <h4>Driving Data</h4>
            <label id="drivingLicenseType" for="drivingLicenseType"><b> ใบขับขี่:</b></label><br>
            <input type="radio" name="drivingLicenseType" value="drivingLicenseTypeA"> ใบขับขี่รถจักรยานยนต์ <br>
            <input type="radio" name="drivingLicenseType" value="drivingLicenseTypeB"> ใบขับขี่รถยนต์<br>
            <!-- 
            <label for="drivingLicenseType"><b>ใบขับขี่:</b></label>
            <select name="drivingLicenseType" id="drivingLicenseType" form="statusform">
                <option value="drivingLicenseTypeA">ใบขับขี่รถจักรยานยนต์</option>
                <option value="drivingLicenseTypB">ใบขับขี่รถยนต์</option>
            </select>
            <br> -->
            <label for="drivingType"><b>drivingType:</b></label><br>
            <input type="text" id="drivingType" name="drivingType" value=""><br>

            <label for="drivingLicenseNo"><b>เลขที่ใบขับขี่:</b></label><br>
            <input type="text" id="drivingLicenseNo" name="drivingLicenseNo" value=""><br>

            <!-- <label for="drivingExpiryDate"><b>วันหมดอายุ:</b></label><br>
            <input type="date" id="drivingExpiryDate" name="drivingExpiryDate" value=""><br>
            <br> -->
            <button type="button" class="next-btn" onclick="createData4()">Next</button>
            <button type="button" class="previous-btn">Prev</button>
        </div>
        <div class="step step-5 ">
            <h4>History Data</h4>
            <label for="companyNameHistory"><b>ชื่อบริษัท:</b></label><br>
            <input type="text" id="companyNameHistory" name="companyNameHistory" value=""><br>

            <label for="positionHistory"><b>ตำแหน่ง:</b></label><br>
            <input type="text" id="positionHistory" name="positionHistory" value=""><br>

            <label for="salaryHistory"><b>เงินเดือน:</b></label><br>
            <input type="text" id="salaryHistory" name="salaryHistory" value=""><br>

            <!-- <label for="startDate"><b>วันที่เริ่มงาน:</b></label><br>
            <input type="date" id="startDate" name="startDate" value=""><br> -->

            <!-- <label for="endDate"><b>ถึง:</b></label><br>
            <input type="date" id="endDate" name="endDate" value=""><br>
            <br> -->

            <button type="button" class="next-btn" onclick="createData5()">Next</button>
            <button type="button" class="previous-btn">Prev</button>
        </div>
        <div class="step step-6 ">
            <h4>Education Data</h4>
            <label id="educationLevel" for="educationLevel"><b> ระดับการศึกษา :</b></label><br>
                <input type="radio" name="educationLevel" value="ปริญญาตรี"> ปริญญาตรี<br>
                <input type="radio" name="educationLevel" value="ปริญญาโท"> ปริญญาโท<br>

            <br>
            <label for="name"><b>ชื่อสถาบัน:</b></label><br>
            <input type="text" id="name" name="name" value=""><br>

            <label for="major"><b>วิชาที่ศึกษา/วุฒติที่ได้รับ:</b></label><br>
            <input type="text" id="major" name="major" value=""><br>

            <!-- <label for="startDate"><b>ปีที่เริ่มศึษา:</b></label><br>
            <input type="date" id="startDate" name="startDate" value=""><br>

            <label for="endDate"><b>ปีที่จบการศึกษา:</b></label><br>
            <input type="date" id="endDate" name="endDate" value=""><br>
            <br> -->


            <button type="button" class="next-btn" onclick="createData6()">Next</button>
            <button type="button" class="previous-btn">Prev</button>
        </div>

        <div class="step step-7 ">
            <h4>Skill Data</h4>
            <label id="typeOfSkill" for="typeOfSkill"><b> ความสามารถ :</b></label><br>
            <input type="radio" name="typeOfSkill" value="computer"> computer <br>
            <input type="radio" name="typeOfSkill" value="readingEnglish"> readingEnglish<br>
            <br>
            <label id="level" for="level"><b> ระดับ:</b></label><br>
            <input type="radio" name="level" value="level1"> level1 <br>
            <input type="radio" name="level" value="level2"> level2<br>
            <input type="radio" name="level" value="level3"> level3<br>

            <button type="submit" class="submit-btn" onclick="createData7()">Submit</button>
            <button type="button" class="previous-btn">Prev</button>

        </div>
    </form>

</body>


<script>
        const steps = Array.from(document.querySelectorAll("form .step"));
        const nextBtn = document.querySelectorAll("form .next-btn");
        const prevBtn = document.querySelectorAll("form .previous-btn");
        const form = document.querySelector("form");

        nextBtn.forEach((button) => {
            button.addEventListener("click", () => {
                changeStep("next");
            });
        });
        prevBtn.forEach((button) => {
            button.addEventListener("click", () => {
                changeStep("prev");
            });
        });

        form.addEventListener("submit", (e) => {
            e.preventDefault();
            const inputs = [];
            form.querySelectorAll("input").forEach((input) => {
                const { name, value } = input;
                inputs.push({ name, value });
            });
            console.log(inputs);
            form.reset();
        });

        function changeStep(btn) {
            let index = 0;
            const active = document.querySelector(".active");
            index = steps.indexOf(active);
            steps[index].classList.remove("active");
            if (btn === "next") {
                index++;
            } else if (btn === "prev") {
                index--;
            }
            steps[index].classList.add("active");
        }

</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

</html>